<%= form_for(@ver) do |f| %>
  <% if @ver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ver.errors.count, "error") %> prohibited this ver from being saved:</h2>

      <ul>
      <% @ver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chapter %><br>
    <%= f.text_field :chapter %>
  </div>
  <div class="field">
    <%= f.label :test %><br>
    <%= f.text_field :test %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
